body {
    background-color: white;
    font-family: Arial;
    text-align: center
}

h1 {
    color: darkblue;
}

img {
    width: 300px;
}
ul
{
    list-style: none;
}
button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
}

button:hover {
    background-color: #004999;
}